<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ul Home View</title>
</head>
<body>
  <div class="page-wrapper">
    <section class="page-content">
      <h1 class="page-title"> User Authentication </h1>
      <p>Login or Register with:</p>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </section>
  </div>
</body>
</html>
