<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ul login</title>
</head>
<body>
  <div class="page-wrapper">
    <section class="page-content">
      <h1 class="page-title"> LOGIN </h1>
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/login" method="post">
        <input type="text" name="email" placeholder="Email">

        <input type="password" name="password" placeholder="Password">

        <input type="submit" value="Login">
      </form>

      <p>Need an account? <a href="/signup"></a></p>
      <p>Or go <a href="/">home</a>.</p>

    </section>
  </div>
</body>
</html>
