<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ul login</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="page-wrapper">
    <section class="page-content">
      <h1 class="page-title"> Profile Page </h1>
      <a href="/logout">Logout</a>

      <section class="local-info" >
        <strong>id</strong>: <%=user._id%>
        <strong>email</strong>: <%=user.local.email%> <br>
        <strong>password</strong>: <%=user.local.password %>
      </section>

    </section>
  </div>
</body>
